.*.swp
*.pyc
*.o
*.class
*.spec
gmvault.log
.DS_Store
dists/disstoolbox-dist/build
dists/disstoolbox-dist/build/*
.idea/
.idea/*
build/
gmvault.egg-info/
google_credentials.ini
src/gmv/credential_utils.py
src/gmv/gmvault_const.py
.eggs/
dist/
